.header-title{
    display: flex;
    background-color: rebeccapurple;
    color: white;
    justify-content: center;
    margin-bottom: 20px;
}

.container{
    display: flex;  
    flex-direction: column;

}

.search-container{
    float:left;
}
.results{
    display: flex;  
}

.search-form{
    display:flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.search-form button{
    margin-top: 5px;
    background-color: purple;
    color: white;
}

.search-form h2{
    margin-bottom: 8px;
}

.previous-results{
    display: flex;
    flex-direction: column;
    border-top: solid;
    border-color: gray;
    padding-top: 8px;
} 
.search-results-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 
.fiveday-search-results{
    margin-left: 20px;
}

p{
    line-height: 2;
}

